

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
   /* === web-fonts */

   @font-face {
    font-family: '8bitoperatorregular';
    src: url('../fonts/8bitoperator-webfont.eot');
    src: url('../fonts/8bitoperator-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/8bitoperator-webfont.woff') format('woff'),
    url('../fonts/8bitoperator-webfont.ttf') format('truetype'),
    url('../fonts/8bitoperator-webfont.svg#8bitoperatorregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* === web-fonts */

body{
	padding: 0;
	margin: 0;
	background: #000;
	font-family: '8bitoperatorregular';
    font-size: 14px;
}

.LL-menu{
    background: #111;
    border-bottom: 1px solid #222;
    padding: 15px;
}

iframe{
    width: 50%;
    position: absolute;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar-brand{
    padding:0;
}

iframe:nth-of-type(2){
    right:0;
}

iframe .navbar-header{
    display: none;
}

.LL-menu-item{
    float: right;
    font-size: 1.2em;
    color: #999;
}

.LL-menu-item.home{
    float: left;
}

a.LL-menu-item:hover{
    color: #fff;
    text-decoration: none;    
}

.LL-menu-item:hover:before{
    color: #999;
}

span.LL-menu-item{
    padding: 0 15px;
}