

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   body{
       padding: 0;
       margin: 0;
       background: #000;
       font-family: '8bitoperatorregular';
   }

   .LL-menu{
    background: #111;
    border-bottom: 1px solid #222;
}

/*web-fonts*/
@font-face {
    font-family: '8bitoperatorregular';
    src: url('../fonts/8bitoperator-webfont.eot');
    src: url('../fonts/8bitoperator-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/8bitoperator-webfont.woff') format('woff'),
    url('../fonts/8bitoperator-webfont.ttf') format('truetype'),
    url('../fonts/8bitoperator-webfont.svg#8bitoperatorregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#menu
{
    display: block;
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;    
}

#menu button
{
    border: none;
    background: #111;
    padding: 8px 15px;
    color: #eee;
    outline: none;
    display: inline-block;
    text-align: center;
    text-transform:lowercase;
}
#menu button.selected, #menu button:hover{
    background: #eee;
    color: #222
}

#blocker
{
    height: 100%;
    position: fixed;
    width: 100%;
    display: table;
    background: rgba(0,0,0,.9);
    color: #00ffff;
    /*background: rgba(255,255,255,.9);*/
}
#instructions
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#stats{ width: 154px !important; }
#fpsText{ font-family: '8bitoperatorregular' !important; }
#fpsGraph{width: 148px !important;}
#fpsGraph span{width: 2px !important;}

.debug
{
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    background: #000;
    color: #00ffff;
    z-index: 99999;
    padding: 5px;
    font-size: .8em;
}
.debug p
{
    margin: 0;
    text-align: right;
}
.debug.active{opacity: 1}
